In [73]:
import pandas as pd
import urllib.request
import json

In [75]:
def get_prediction(title, content):
    body = {'title': title, 'content': content} 

    myurl = "http://127.0.0.1:8180/predict" # IP и порт нужно заменить на указанные в файле run_server.php
    req = urllib.request.Request(myurl)
    req.add_header('Content-Type', 'application/json; charset=utf-8')
    jsondata = json.dumps(body)
    jsondataasbytes = jsondata.encode('utf-8')   # needs to be bytes
    req.add_header('Content-Length', len(jsondataasbytes))
    response = urllib.request.urlopen(req, jsondataasbytes)
    return json.loads(response.read())['predictions']

Получение предсказания категории заявки по отдельным строковым переменным

In [76]:
title1 = 'Срочно! Не печатает принтер из 1с!'
content1 = 'Не печатает принтер. Пробовали перезагружать, лампочки моргают, но печать не идет!'
get_prediction(title1, content1)

2

In [77]:
title2 = 'Не работает 1С'
content2 = '1с постоянно вылетает с ошибкой и очень тормозит'
get_prediction(title2, content2)

4

In [78]:
title3 = 'Активация винды'
content3 = 'Срочно! Всплывает окно и требует активацию! Очень мешает работать!'
get_prediction(title3, content3)

1

In [79]:
title4 = 'Тормозит эксель'
content4 = 'Файлы в excel очень долго открываются, помогите!'
get_prediction(title4, content4)

9

Получение предсказания категории заявки итеративно из DataFrame

In [80]:
data = {'ID': [156784, 155247, 134921, 161329],
        'username': ['test_user1', 'test_user2', 'test_user3', 'test_user4'], 
        'company': ['test_company1', 'test_company2', 'test_company3', 'test_company4'], 
        'title': [title1, title2, title3, title4],
        'content': [content1, content2, content3, content4]}
df = pd.DataFrame.from_dict(data)
df

,ID,username,company,title,content
0,156784,test_user1,test_company1,Срочно! Не печатает принтер из 1с!,"Не печатает принтер. Пробовали перезагружать, ..."
1,155247,test_user2,test_company2,Не работает 1С,1с постоянно вылетает с ошибкой и очень тормозит
2,134921,test_user3,test_company3,Активация винды,Срочно! Всплывает окно и требует активацию! Оч...
3,161329,test_user4,test_company4,Тормозит эксель,"Файлы в excel очень долго открываются, помогите!"

In [81]:
for i, data in df.iterrows(): 
    print(data['ID'], get_prediction(data['title'], data['content']))

156784 2
155247 4
134921 1
161329 9