##### Задание 1
взять любой набор данных для бинарной классификации (можно скачать один из модельных с https://archive.ics.uci.edu/ml/datasets.php)

Датасет банковских транзакций, часть из которых мошеннические

Описание данных - https://www.kaggle.com/datasets/vardhansiramdasu/fraudulent-transactions-prediction

В домашней работе использую неполный датасет. Большая часть данных, не являющихся мошенническими операциями, удалена. Оставил данные в соотношении 1 к 3 мошеннических транзакций к легальным. Это сделано из соображений балансировки данных и сокращения размера csv файла

In [24]:
import pandas as pd
import numpy as np
data = pd.read_csv("fraud_balanced.csv")
data.head(3)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,7,CASH_IN,111324.20,C926922342,4490417.58,4601741.78,C1182908789,135698.74,24374.54,0,0
1,19,CASH_OUT,143660.11,C681501417,143660.11,0.00,C447183071,0.00,143660.11,1,0
2,8,CASH_OUT,236104.53,C1000303171,45802.00,0.00,C1374917762,0.00,82985.37,0,0

About Dataset
1. step - maps a unit of time in the real world. In this case 1 step is 1 hour of time. Total steps 744 (30 days simulation).
2. type - CASH-IN, CASH-OUT, DEBIT, PAYMENT and TRANSFER.
3. amount - amount of the transaction in local currency.
4. nameOrig - customer who started the transaction
5. oldbalanceOrg - initial balance before the transaction
6. newbalanceOrig - new balance after the transaction
7. nameDest - customer who is the recipient of the transaction
8. oldbalanceDest - initial balance recipient before the transaction. Note that there is not information for customers that start with M (Merchants).
9. newbalanceDest - new balance recipient after the transaction. Note that there is not information for customers that start with M (Merchants).
10. isFraud - This is the transactions made by the fraudulent agents inside the simulation. In this specific dataset the fraudulent behavior of the agents aims to profit by taking control or customers accounts and try to empty the funds by transferring to another account and then cashing out of the system.
11. isFlaggedFraud - The business model aims to control massive transfers from one account to another and flags illegal attempts. An illegal attempt in this dataset is an attempt to transfer more than 200.000 in a single transaction.

В датасете 4 категориальных признака, 5 числовых 1 целевая переменная isFraud, а также признак isFlaggedFraud, который можно также рассматривать, как целевой. Признак isFlaggedFraud удалим из датасета, т.к. будем работать со всеми мошенническими рперациями, а не только с теми, которые пометил банк. Также удалим поле step, т.к. взята только часть полного датасета

In [25]:
print(data.shape)

(32772, 11)

In [26]:
data = data.drop(['step', 'isFlaggedFraud'], 1)
data.head(3)

C:\Users\ENERGI~1\AppData\Local\Temp/ipykernel_15008/2857393272.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data = data.drop(['step', 'isFlaggedFraud'], 1)

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,CASH_IN,111324.20,C926922342,4490417.58,4601741.78,C1182908789,135698.74,24374.54,0
1,CASH_OUT,143660.11,C681501417,143660.11,0.00,C447183071,0.00,143660.11,1
2,CASH_OUT,236104.53,C1000303171,45802.00,0.00,C1374917762,0.00,82985.37,0

Посмотрим на соотношение классов

In [27]:
data.iloc[:, -1].value_counts()

0    24559
1     8213
Name: isFraud, dtype: int64

##### Задание 2
сделать feature engineering

Будем использовать модель Catboost Classification, поэтому признаки не трогаем

Разбиваем выборку на тренировочную и тестовую части

In [28]:
from sklearn.model_selection import train_test_split

x_data = data.iloc[:,:-1]
y_data = data.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=42)

##### Задание 3
обучить любой классификатор (какой вам нравится)

In [29]:
import catboost as ctb

cat_features = ['type', 'nameOrig', 'nameDest']
model = ctb.CatBoostClassifier(random_state=42, silent=True, cat_features=cat_features)
model.fit(x_train, y_train)

y_predict = model.predict(x_test)

Проверяем качество

In [30]:
from sklearn.metrics import auc, f1_score, roc_auc_score, precision_score, classification_report, precision_recall_curve, confusion_matrix

# Функция рассчета показателей и формирования словаря для датафрейма
def get_metrics(learn_type, y_test, y_predict):
    precision, recall, thresholds = precision_recall_curve(y_test, y_predict)

    fscore = (2 * precision * recall) / (precision + recall)
    # locate the index of the largest f score
    ix = np.argmax(fscore)
    print('F-Score=%.3f, Precision=%.3f, Recall=%.3f, roc_auc_score=%.3f, pr_auc=%.3f' % (
        fscore[ix],
        precision[ix],
        recall[ix],
        roc_auc_score(y_test, y_predict), 
        auc(recall, precision)))
    
    data = {'Learn type':learn_type,
        'F-Score':fscore[ix],
        'precision':precision[ix],
        'recall':recall[ix], 
        'roc_auc_score':roc_auc_score(y_test, y_predict),
        'pr_auc':auc(recall, precision)}
    
    return data

stats = get_metrics('Standart', y_test, y_predict)
stats_df = pd.DataFrame(stats, index=[0])

F-Score=0.995, Precision=0.996, Recall=0.993, roc_auc_score=0.996, pr_auc=0.995

##### Задание 4
далее разделить ваш набор данных на два множества: P (positives) и U (unlabeled). Причем брать нужно не все положительные (класс 1) примеры, а только лишь часть

In [31]:
def predsPU(part, cat_features):
    mod_data = data.copy()
    #get the indices of the positives samples
    pos_ind = np.where(mod_data.iloc[:,-1].values == 1)[0]
    #shuffle them
    np.random.shuffle(pos_ind)
    # leave just 25% of the positives marked
    pos_sample_len = int(np.ceil(part * len(pos_ind)))
    print(f'Using {pos_sample_len}/{len(pos_ind)} as positives and unlabeling the rest')
    pos_sample = pos_ind[:pos_sample_len]
    
    
    # Создаем столбец для новой целевой переменной, где у нас два класса - P (1) и U (-1)
    mod_data['class_test'] = -1
    mod_data.loc[pos_sample,'class_test'] = 1
    print('target variable:\n', mod_data.iloc[:,-1].value_counts())
    
    x_data = mod_data.iloc[:,:-2].values # just the X 
    y_labeled = mod_data.iloc[:,-1].values # new class (just the P & U)
    y_positive = mod_data.iloc[:,-2].values # original class
    
    '''
    Задание 5
    
    применить random negative sampling для построения классификатора в новых условиях
    '''
    
    mod_data = mod_data.sample(frac=1)
    neg_sample = mod_data[mod_data['class_test']==-1][:len(mod_data[mod_data['class_test']==1])]
    sample_test = mod_data[mod_data['class_test']==-1][len(mod_data[mod_data['class_test']==1]):]
    pos_sample = mod_data[mod_data['class_test']==1]
    print(neg_sample.shape, pos_sample.shape)
    sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)
    
    model = ctb.CatBoostClassifier(random_state=42, silent=True, cat_features=cat_features)

    model.fit(sample_train.iloc[:,:-2], sample_train.iloc[:,-2])
    y_predict = model.predict(sample_test.iloc[:,:-2])
    
    return y_predict

In [113]:
mod_data = data.copy()
#get the indices of the positives samples
pos_ind = np.where(mod_data.iloc[:,-1].values == 1)[0]
#shuffle them
np.random.shuffle(pos_ind)
# leave just % of the positives marked
part = 0.15
pos_sample_len = int(np.ceil(part * len(pos_ind)))
print(f'Using {pos_sample_len}/{len(pos_ind)} as positives and unlabeling the rest')
pos_sample = pos_ind[:pos_sample_len]

Using 1232/8213 as positives and unlabeling the rest

Создаем столбец для новой целевой переменной, где у нас два класса - P (1) и U (-1)

In [114]:
mod_data['class_test'] = -1
mod_data.loc[pos_sample,'class_test'] = 1
print('target variable:\n', mod_data.iloc[:,-1].value_counts())

target variable:
 -1    31540
 1     1232
Name: class_test, dtype: int64

In [115]:
mod_data.head(10)

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,class_test
0,CASH_IN,111324.20,C926922342,4490417.58,4601741.78,C1182908789,135698.74,24374.54,0,-1
1,CASH_OUT,143660.11,C681501417,143660.11,0.00,C447183071,0.00,143660.11,1,-1
2,CASH_OUT,236104.53,C1000303171,45802.00,0.00,C1374917762,0.00,82985.37,0,-1
3,TRANSFER,802467.59,C123135270,0.00,0.00,C849038219,1306658.95,1337271.15,0,-1
4,CASH_OUT,184847.10,C570720761,0.00,0.00,C580735116,321342.59,380765.41,0,-1
5,PAYMENT,8667.21,C14181307,0.00,0.00,M1995167125,0.00,0.00,0,-1
6,CASH_OUT,2100.00,C169099320,2100.00,0.00,C697156329,112512.48,114612.48,1,-1
7,PAYMENT,11839.82,C1664287883,119439.11,107599.29,M491210440,0.00,0.00,0,-1
8,PAYMENT,5427.59,C1630413241,6307.00,879.41,M808377204,0.00,0.00,0,-1
9,TRANSFER,342675.47,C1778106585,342675.47,0.00,C144558690,0.00,0.00,1,-1

In [116]:
x_data = mod_data.iloc[:,:-2].values # just the X 
y_labeled = mod_data.iloc[:,-1].values # new class (just the P & U)
y_positive = mod_data.iloc[:,-2].values # original class

##### Задание 5
применить random negative sampling для построения классификатора в новых условиях

In [117]:
mod_data = mod_data.sample(frac=1)
neg_sample = mod_data[mod_data['class_test']==-1][:len(mod_data[mod_data['class_test']==1])]
sample_test = mod_data[mod_data['class_test']==-1][len(mod_data[mod_data['class_test']==1]):]
pos_sample = mod_data[mod_data['class_test']==1]
print(neg_sample.shape, pos_sample.shape)
sample_train = pd.concat([neg_sample, pos_sample]).sample(frac=1)

(1232, 10) (1232, 10)

In [118]:
model = ctb.CatBoostClassifier(random_state=42, silent=True, cat_features=cat_features)

model.fit(sample_train.iloc[:,:-2], sample_train.iloc[:,-2])
y_predict = model.predict(sample_test.iloc[:,:-2])

stats = get_metrics(f'PU {part}', sample_test.iloc[:,-2], y_predict)
stats_df = stats_df.append(stats, ignore_index=True)

F-Score=0.967, Precision=0.939, Recall=0.996, roc_auc_score=0.989, pr_auc=0.968

##### Задание 6
сравнить качество с решением из пункта 4 (построить отчет - таблицу метрик)

In [45]:
stats_df

  Learn type   F-Score  precision    recall  roc_auc_score    pr_auc
0   Standart  0.994620   0.995811  0.993433       0.995999  0.995461
1    PU 0.25  0.976090   0.956339  0.996675       0.992673  0.976838
2     PU 0.5  0.971421   0.947213  0.996898       0.993761  0.972280

Стандартный вариант классификации показал более хорошие результаты

##### Задание 7
поэкспериментировать с долей P на шаге 5 (как будет меняться качество модели при уменьшении/увеличении размера P)

Вернемся к шагу 4 и увеличим долю данных положительного класса до 0.5 (part = 0.5)

In [46]:
stats_df

  Learn type   F-Score  precision    recall  roc_auc_score    pr_auc
0   Standart  0.994620   0.995811  0.993433       0.995999  0.995461
1    PU 0.25  0.976090   0.956339  0.996675       0.992673  0.976838
2     PU 0.5  0.971421   0.947213  0.996898       0.993761  0.972280

Точность улучшилась, но не существенно

Попробуем взять 0.75

In [112]:
stats_df

  Learn type   F-Score  precision    recall  roc_auc_score    pr_auc
0   Standart  0.994620   0.995811  0.993433       0.995999  0.995461
1    PU 0.25  0.976090   0.956339  0.996675       0.992673  0.976838
2     PU 0.5  0.971421   0.947213  0.996898       0.993761  0.972280
3    PU 0.75  0.958459   0.924506  0.995000       0.994052  0.959949

Точность снизилась на порядок

Для проверки попробуем взять part = 0.15

In [119]:
stats_df

  Learn type   F-Score  precision    recall  roc_auc_score    pr_auc
0   Standart  0.994620   0.995811  0.993433       0.995999  0.995461
1    PU 0.25  0.976090   0.956339  0.996675       0.992673  0.976838
2     PU 0.5  0.971421   0.947213  0.996898       0.993761  0.972280
3    PU 0.75  0.958459   0.924506  0.995000       0.994052  0.959949
4    PU 0.15  0.966551   0.938541  0.996285       0.988833  0.967825

Точность модели немного увеличилась, но лучше, чем при part=0.5 не стала

Обычный классификатор показал самые лучшие результаты, но это произошло потому, что данные были изначально размечены полностью, как позитивные, так и негативные. Найти частично размеченный датасет, к сожалению, не удалось.

С другой стороны, мы особо ничего не добились произведя манипуляции с переразметкой данных, т.к. задача look-alike, все-таки, заключается в поиске схожих данных с теми, которые размечены, как положительные. Т.е. в данном случае нам нужно получить выборку из исходных данных, в которой после обучения модели, данные не размеченные как позитивные будут помечены моделью, как позитивные

In [102]:
# На основе модели PU 0.5
pred_final = model.predict(x_data)

In [103]:
data2 = data.copy()

In [104]:
preds_ser = pd.Series(pred_final)
data2['pred_final'] = preds_ser.values

In [105]:
# Итоговые данные, которые нас интересуют:
data2.loc[(data2['isFraud'] == 0) & (data2['pred_final'] == 1)]

,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,pred_final
171,CASH_OUT,38323.66,C515585759,13746.00,0.0,C2081595126,73147.60,111471.26,0,1
631,CASH_OUT,33810.02,C2122693729,19738.97,0.0,C420561530,847439.38,366505.70,0,1
833,CASH_OUT,307954.98,C385203700,214435.28,0.0,C442364016,0.00,328387.64,0,1
1111,CASH_OUT,19548.49,C622955085,16567.87,0.0,C1255024717,7810214.06,7829762.55,0,1
1147,CASH_OUT,3806.52,C700171836,420.00,0.0,C187649742,95728.87,99535.40,0,1
...,...,...,...,...,...,...,...,...,...,...
32156,CASH_OUT,286338.02,C407818317,240859.58,0.0,C1089177065,1190350.45,1076036.85,0,1
32172,CASH_OUT,65016.19,C1998941515,38307.00,0.0,C351394592,0.00,65016.19,0,1
32223,CASH_OUT,87456.78,C1633345274,53996.00,0.0,C2016729324,0.00,87456.78,0,1
32397,CASH_OUT,32989.09,C1155084102,32583.34,0.0,C473344802,88675.31,19916.44,0,1
32515,CASH_OUT,78676.17,C1641823536,0.00,0.0,C407757655,0.00,78676.17,0,1

Итого мы получили 201 запись из изначального датасета, которые вызывают подозрение, что они могут оказаться мошенническими

<b>Бонусный вопрос:</b>

Как вы думаете, какой из методов на практике является более предпочтительным: random negative sampling или 2-step approach?

Ваш ответ здесь:

По логике 2-step approach является более надежным способом, т.к. мы можем использовать весь датасет и на каждой итерации получать более достоверные негативные данные, проводя данную процедуру до того уровня, пока позитивные и негативные данные не будут отбалансированы на наше усмотрение.